<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;GRID_VISIBLE&quot;:true,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10.0,&quot;GRID_TYPE&quot;:&quot;RegularGrid,20&quot;,&quot;PAPER_WIDTH&quot;:618,&quot;PAPER_HEIGHT&quot;:310,&quot;THEME&quot;:&quot;appeducacionalvaadin&quot;}">
 </head> 
 <body> 
  <v-vertical-layout spacing="true" size-full="true" margin="" _id="verticalLayout"> 
   <v-label plain-text="">
     Banear Personas 
   </v-label> 
   <v-table width-full="true"></v-table> 
  </v-vertical-layout>  
 </body>
</html>