<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;GRID_VISIBLE&quot;:true,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:false,&quot;SNAPPING_DISTANCE&quot;:10.0,&quot;GRID_TYPE&quot;:&quot;RegularGrid,20&quot;,&quot;PAPER_WIDTH&quot;:1440,&quot;PAPER_HEIGHT&quot;:900,&quot;THEME&quot;:&quot;appeducacionalvaadin&quot;}">
 </head> 
 <body> 
  <v-vertical-layout spacing="true" size-full="true" margin="" _id="verticalLayout"> 
   <v-horizontal-layout width-full="true" _id="horizontalLayout"> 
    <v-image height="30px" _id="image"></v-image> 
   </v-horizontal-layout> 
   <v-horizontal-layout _id="horizontalLayout2"></v-horizontal-layout> 
  </v-vertical-layout>  
 </body>
</html>